* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
    padding: .5rem;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 1px;
    box-shadow: 0 0 30px gray;
}

p {
    margin: 1em;
}

main p {
    display: flow-root;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 25px;
    left: 120px;
}

main img {
    width: 200px;
    height: auto;
    border: 1px solid steelblue;
    box-shadow: 0 0 30px gray;
    padding: 2px;
    float: right;
    margin: 20px 0 10px 15px;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

main {
    max-width: 640px;
}

/*  Class Selector  */
.box {
    margin: 1rem;
    border: 1px solid rgba(0 0 0 / 1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}